<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="admin/head"></head>
    <meta charset="utf-8">
<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
  <div th:insert="admin/sidebar"></div>
  
     <div class="all-content-wrapper">
     <div th:insert="admin/topbar"></div>
          <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Library List</h4>
                            <div class="add-product">
                                <a th:href="@{'/Produit/Ajout'}">Add Produit</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>Reférence</th>
                                        <th>Photo</th>
                                        <th>Nom Produit</th>
                                        <th>Description</th>
                                        <th>Prix</th>
                                        <th>Quantité</th>
                                       
                                        <th>Setting</th>
                                    </tr>
                                    <tr th:each="produit:${produits}">
                                       <td th:utext="${produit.reference}"></td>
                                        <td><img th:src="@{'/uploads/produits/'+${produit.photo}}" alt="" /></td>
                                        <td th:utext="${produit.nom}"></td>
                                      
                                         <td th:utext="${produit.description}"></td>
                                         <td th:utext="${produit.prix+'Euro'}"></td>
                                        <td th:utext="${produit.qteStock}"></td>
                                        <td>
                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    </table>
                            </div>
                            <div class="custom-pagination">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div th:insert="admin/footer"></div>
    </div>

    
</body>

</html>